/* general styling */

html {
    height: 100%;
    margin: 0;
}

body {
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    height: inherit;
    margin: 0;
}

h1, nav {
    font-size: 35px;
    font-family: 'Luckiest Guy', cursive;
}

h2, legend {
    font-family: 'Luckiest Guy', cursive;
    font-size: 2rem;
    background-color: #cd9703;
    color: white;
    margin: 0;
    padding: 0.5rem;
}

label {
    font-family: 'Lilita One', cursive;
    font-size: 1.3em;
    padding: 0;
    margin: 0;
}

.pfp {
    max-width: 150px;
    max-height: 150px;
}

button {
    border-radius: 10px;
}

.logo {
    padding-left: 0.8em;
    padding-right: 0.8em;
    background-image: url('/img/profile-picture.jpg');
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}

hr {
    margin: 5px 0;
    color:whitesmoke
}

/* about styling */
.main-about {
    
}

/* account styling */
.main-account {

}

/* login styling */
.main-login {

}

/* onboard styling */
.main-onboard {

}

/* createUser styline */
.main-createUser {

}

/* results styling */

.results-page-container {
    padding: 1em 1em 1em 0.5em;
    display: flex;
    flex-direction: row;
}

.results-content {
    display: flex;
}

.pfp-results, .results-important, .results-sub, .results-connect {
    flex : 1;
    text-align: center;
}

/* form styling */

/* index styling */

.content-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.banner-container {
    display: flex;
    background-color: #010079;
    width: 100%;
    padding: 1em;
    margin: 0;
}

.banner-container a {
    color: white;
    text-decoration: none;
}

.banner-container a:hover {
    color: grey;
    padding: .8rem;
}


.header-container {
    flex: 1;
}

.header-container h1 {
    text-align: left;
    padding: 0;
    margin: 0;
}

.nav-container {
    flex: 1;
}

.nav-container ul {
 text-align: right;
 padding: 0;
 margin: 0;
}

.nav-container li {
    display: inline;
}

.main-container {
    flex: 1;
    flex-basis: auto;
    display: flex;
    flex-direction: row;
}

.form-container {
    display: flex;
    flex: 1;
}

.results-container {
    display: flex;
    flex: 1;
}

iframe {
    flex: 1;
}

footer {
    background-color: lightgrey;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
}

footer address, p {
    padding: 0;
    margin: 0;
}