/* general styling */
* {
box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
}

body {
    background-color: #165CA9;
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    height: inherit;
    margin: 0;
}

#root {
    height: inherit;
}

main {
    color: white;
}

h1, nav {
    font-size: 1.7em;
    font-family: 'Luckiest Guy', cursive;
}

h2 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 1.5em;
    background-color: #cd9703;
    color: white;
    margin: 0;
    padding: 0.5rem;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    text-decoration: underline;
}

.sub-section-start {
    padding-top: 1%;
}

.sub-section-end {
    padding-bottom: 1%;
}

label {
    font-weight: 600;
    padding-right: 1%;
    padding-bottom: 0.3%;
}

.page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-container, .onboard, .login, .about, .connect {
    flex: 1;
    height: 100%;
}

.pfp {
    max-width: 5rem;
    max-height: 5rem;
}

.loading {
    color: white;
    padding: 50px;
}

em {
    font-weight: bold;
}

form > em {
    margin-left: 8px;
}

/* banner styling */
.banner {
    display: flex;
    background-color: #010079;
    width: 100%;
    padding: 1em;
    margin: 0;
}

.banner a {
    color: white;
    text-decoration: none;
}

.banner a:hover {
    color: #cd9703;
}

.banner header {
    flex: 1;
}

.banner h1 {
    text-align: left;
    padding: 0;
    margin: 0;
}

.banner nav {
    display: block;
    flex: 3;
}

.banner ul {
    text-align: right;
    padding: 0;
    margin: 0;
}

.banner li {
    display: inline;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.desktop {
    display: none;
}

/* footer styling */
footer {
    background-color: lightgrey;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
}

footer > address, footer > p {
    padding: 0;
    margin: 0;
}

/* onboard styling */
.main-onboard > .welcome {
    padding: 5%;
}

.join-login > div {
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    font-size: 30px;
    padding: 10px;
}

.video {
    text-align: center;
}

.video a {
    color: white;
}

/* about styling */
.main-about {
    flex: 1;
}

.about-heading {
    padding: 15px 15px 0px 15px;
}

.about-text {
    margin: 5px 0px;
}

.about-text p {
    padding: 10px;
    margin: 10px;
}

.about-images {
    display: flex;
    flex-direction: column;
}

.about-images > figure {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.main-about img {
    max-width: 450px;
    padding: 10px;
}

.main-about a {
    color: white;
}

/* login styling */
.main-login {
    height: 100%;
    font-family: 'Luckiest Guy', cursive;
}

.authenticate {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: inherit;
    width: 100%;
}

/* account styling */
.main-account, .main-connect, .main-profile, .home-page {
    padding: 3%;
    background-color: white;
    color: black;
}

.main-account > section {
    margin-bottom: 1rem;
}

legend {
    font-family: cursive;
    font-size: 1.2rem;
    margin-top: 0.2em;
    padding: 10px 5px;
}

.form-section-container {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    padding-left: 16px;
}

.form-section-container > div, .form-section-container > div > div {
    flex: auto;
    margin-bottom: 0.6rem;
}

input, select {
    width: 19rem;
    margin-bottom: 1%;
}

/* home styling */
.home-page {
    flex: 1;
    background-color: white;
    flex-direction: column;
    height: fit-content;
}

.main-container-index {
    display: flex;
    flex: 1;
    flex-basis: auto;
    flex-direction: column;
    height: 100%;
}

.form-container, .results-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.results-heading, .form-heading {
    display: none;
}

.main-connect {
    height: 100%;
}

.submit-home {
    margin: 8px 0 16px 32px;
}

/* filter styling */
.accordion__button {
    background-color: #cd9703 !important;
    font-family: 'Luckiest Guy', cursive;
    color: white !important;
    font-size: 1.3rem;
}

.accordion__panel {
    padding: 0 !important;
}

fieldset {
    padding-left: 0.5em;
}

.form-section-container select {
    margin-bottom: 0.6rem;
}

.btn-danger {
    margin-left: 12px;
}

/* results styling */
.results {
    color: white;
}

.results-page-container {
    display: flex;
    flex-direction: column;
}

.results-entry-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1em 1em 1em 0em;
}

.results-sub, .results-connect {
    flex : 1;
    text-align: center;
}

.results-important {
    flex: 2;
    text-align: center;
    font-weight: 600;
}

.pfp-results {
    display: none;
}

.modal-body {
    background-color: #1B73D3;
}

/* media query for small screens */
@media (min-width: 598px) {
    /* general styling */
    h1, h2, nav, legend {
        font-size: 2em;
    }

    .onboard {
        /* cite: "https://www.flickr.com/photos/90311612@N05/9304762194/in/album-72157634667491603/" */
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('./img/cedar-apartments-portrait.jpg');
        background-position: center;
        background-size: cover;
    }

    .about {
        /* cite: "https://www.flickr.com/photos/90311612@N05/9301842899/" */
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('./img/alder-courtyard.jpg');
        background-position: center;
        background-size: cover;
    }

    .login {
        /* cite: "https://www.flickr.com/photos/90311612@N05/9308651365" */
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url('./img/elm-hall.jpg');
        background-position: center;
        background-size: cover;
    }

    .video > iframe {
        width: 560px;
        height: 315px;
    }

    /* banner styling */
    .banner li {
        display: inline;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .pfp-results {
        flex: 1;
        text-align: center;
        display: inline;
    }
}

/* media query for large screens */
@media (min-width: 992px) {
    /* general styling */
    .onboard {
        /* cite: "https://hfs.uw.edu/getmedia/072fc76c-bfb1-459d-9729-afdb223ae0ba/Maple-exterior.jpg.aspx?width=1280&height=854&ext=.jpg" */
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('./img/maple-hall.jpg');
        background-position: center;
        background-size: cover;
    }

    .about {
        /* cite: "https://www.washington.edu/news/2011/09/28/two-new-student-residence-halls-and-an-increased-commitment-to-sustainability/" */
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('./img/cedar-apartments.jpg');
        background-position: center;
        background-size:cover;
    }

    .login {
        /* cite: "https://www.flickr.com/photos/90311612@N05/10176551956/" */
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url('./img/mercer-court.jpg');
        background-position: center;
        background-size: cover;
    }
    
    /* banner styling */
    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }

    /* about styling */
    .about-images {
        flex-direction: row;
    }

    .pfp {
        max-width: 150px;
        max-height: 150px;
    }
}